.gradle/
.gradle88/
build/
run/
run-data/
out/
.idea/
*.iml
*.log
.classpath
.project
.settings/
*.ipr
*.iws
forge-mdk.zip
_forge_mdk/
gradle-8.8-bin.zip
_gradle_dist/
temurin17.zip
_jdk17/
gh-cli.zip
_gh_cli/
_video_tools/
_video_analysis/
